# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.egg-info/
dist/
build/

# embedded Python
**/pyembed/python

# Tauri
src-tauri/target/
src-tauri/target/release/
src-tauri/target/debug/

# rust dependency directory
**/target/
/gpg-private-key.txt
/secert.txt
